
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image:url(star\ star.jpg)
    
}
.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 15px;
}
.column{
    display: flex;
    column-gap: 30px;

    .inputBox{
        position: relative;
        width: 250px;
    }
    
    .inputBox input{
        width: 100%;
        padding: 10px;
        border: 2px solid rgb(104, 87, 87);
        background: transparent;
        border-radius: 8px;
        outline: none;
        color: rgb(0, 0, 0);
        font-size: 1em;
        transition: 0.3s;
        
    }
    
    .inputBox span{
        position : absolute;
        top: 0;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        transition: 0.3s;
    }

    .inputBox input:hover ~ span{
        color: rgb(104, 87, 87);
        transform: translateX(10px) translateY(-15px);
        font-size: 0.65em;
        padding: 0 10px;
        background: transparent;
        letter-spacing: 0.2em;
    }
}

